.index-container{
    position: relative;
    margin: 0 auto;
    top:70px;
    width: 1160px;

}
.top-container-wrapper{
    position: relative;
    width: 1160px;
    height: 240px;
    top: 0;


}
.lunbo-a{
    float: left;
    width: 440px;
    height: 220px;
    overflow: hidden;
    border-radius: 4px;
}
.pics-a {
    width: 2200px;
    height: 220px;
    position: relative;
    transition: .3s;
}

.pics-a li{
    width: 440px;
    height: 220px;
    float: left;
    cursor: pointer;
}
.pics-a li:nth-child(1) {
    background:url(../image/lunboa/lunboa-1.jpg@.webp);
}
.pics-a li:nth-child(2) {
    background:url(../image/lunboa/lunboa-2.jpg@.webp);
}
.pics-a li:nth-child(3) {
    background:url(../image/lunboa/lunboa-3.jpg@.webp);
}
.pics-a li:nth-child(4) {
    background:url(../image/lunboa/lunboa-4.jpg@.webp);
}
.pics-a li:nth-child(5) {
    background:url(../image/lunboa/lunboa-5.jpg@.webp);
}
.lunbo-a-select{
    background-position: -855px -727px !important;
}
.points-a li{
    float: left;
    cursor: pointer;
    width: 18px;
    height: 18px;
    margin: 2px 2px;
    background: url(../image/icons.png) -855px -790px no-repeat;
}

.points-a{
    height: 20px;
    z-index: 11;
    float: right;
    margin: 7.5px 15px;
}
.points-a li:hover{
    background-position: -919px -790px;
}
.title-a{
    float: left;
    width: 220px;
    height: 35px;;
    line-height: 35px;
    font-size: 14px;
}
.title-a span{
    position: absolute;
    left: 20px;
    display: none;
    color: #fff;
}
.title-on{
    display: inline !important;
}
.lunbo-bottom{
    height: 35px;
    position: absolute;
    top: 185px;
    width: 440px;
    border-radius: 0 0 4px 4px;
    background: linear-gradient(transparent,rgba(0,0,0,0.1) 20%,rgba(0,0,0,0.2) 35%,rgba(0,0,0,0.5) 65%,rgba(0,0,0,0.66));
}
.top-list{
    float: right;
    width: 720px;
    height: : 240px;

}
.top-list li{
    float: left;
    width: 180px;
    height: 100px;
    margin-bottom: 20px;
}
.top-list-item{
    width: 160px;
    height: 100px;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
}
.item-mask{
    border-radius: 0 0 4px 4px;
    background: linear-gradient(transparent,rgba(0,0,0,0.1) 20%,rgba(0,0,0,0.2) 35%,rgba(0,0,0,0.5) 65%,rgba(0,0,0,0.66));
    width: 100%;
    height: 31px;
    position: absolute;
    left: 0;
    top: 69px;
}

.item-info{
    width: 100%;
    height:100%;
    padding: 10px 0 3px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    top: 70px;

}
.item-title{
    line-height: 18px;
    color: #fff;
    margin: 0 5px;
    word-break: break-all;
    word-wrap: break-word;

}
.item-info p{
    color: #99a2aa;
    margin: 5px 5px 0;
    opacity: 0;
    transition: .2s all linear;
}
.item-preview{
    background: url(../image/preview.jpg@320w_200h.webp);
    width: 100%;
    height:100%;
    position: absolute;
    background-size: 100%;
    left: 0;
    top: 0;

}
.top-list-item:hover>.item-mask{
    height: 100%;
    top: 0;
    background: rgba(0,0,0,0.7);
}
.top-list-item:hover>.item-info{
    top: 0;
}
.top-list-item:hover>.item-info>p{
    opacity: 1;
}
.container-row{
    width: 1160px;
    height: auto;
    margin:0 auto;
    margin-top: 20px;
    position: relative;
}
.container-row:after{
    clear: both;
}
.row-l{
    width: 900px;

}
.row-r{
    position: absolute;
    right: 0;
    width: 260px;
    height: 195px;
    top: 0;
}
.row-head{
    height: 24px;
    position: relative;
}
.row-head-p{
    background: url(../image/icons.png) no-repeat;
    width: 40px;
    height: 39px;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -8px;
    
}
.row-head-i{
    font-size: 24px;
    position: absolute;
    left: 47px;
    line-height: 24px;
}
.row-head-a{
    display: block;
    line-height: 16px;
    color: #6d757a;
    position: absolute;
    left: 120px;
    top: 10px;


}
.row-head-a:hover{
    color: #00a1d6;
}
.tuiguang-list{
    padding-top: 20px;
    height: 380px;
}

.tuiguang-list li{
    float: left;
    width: 160px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.tuiguang-list-in{
    position: relative;
    width: 160px;
    height: 148px;
    font-size: 12px;

}
.tuiguang-list-in:hover>span{
    color: #00a1d6;
}
.tuiguang-list-in:hover>.tuiguang-pic-mask{
    opacity: 1;
}
.tuiguang-list-in span{
    transition: .3s;
}
.tuiguang-pic{
    background:url(../image/2017-movie.jpg@160w_100h.webp);
    width: 160px;
    height: 100px;
    border-radius: 4px;
    margin-bottom: 10px;
}
.tuiguang-pic-mask{
    background:rgba(0,0,0,.4);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 100px;
    z-index: 3;
    transition: .3s;
    border-radius:4px;
}
.row-r-head{
    width: 260px;
    height: 34px;
    background: #e5e9ef;
    border-radius: 4px;
}
.row-r-head span{
    color: #6d757a;
    line-height: 24px;
    font-size: 12px;
    display: block;
    margin: 0 15px;
    margin-top: 5px;
    float: left;
}
.row-r-head em{
    height: 10px;
    width: 1px;
    position: absolute;
    top: 12px;
    left: 126px;
    background-color: #6d757a;
    z-index: 4;
}
.row-r-body{
    width: 260px;
    height: 150px;
    margin-top: 9px;
    background: url(../image/yuanxiao.jpg);
    border-radius: 4px;
    cursor: pointer;
}
.ad{
    height: 96px;
    width: 100%;
    margin-top: 40px;
    border-radius: 5px;
    background: url(../image/miku.jpg@.webp);
    cursor: pointer;
}
.row-head-info{
    position: absolute;
    top: 10px;
    left: 200px;
}
.row-head-info em{
    color: #00a1d6;
}
.row-head-r{
    float: right;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ccd0d7;
    border-radius: 4px;
    height: 22px;
    margin-right: 20px;
    line-height: 20px;
}
.row-head-r:hover{
    background-color: #ccd0d7
}
.newmove{
    padding: 0 10px;
}
.more i{
    background: url(../image/icons.png) no-repeat;
    background-position: -478px -218px;
    width: 6px;
    height: 12px;
    margin: -2px 0 0 5px;
    display: block;
    float: right;
    margin-top: 5px;
}
.more{
    padding: 0 2px;
    
}
.row-head-r span{
    background: url(../image/icons.png) -475px -89px no-repeat;
    display: inline-block;
    width: 12px;
    height: 13px;
    margin-right: 5px;
    vertical-align: top;
    transition: .2s;
    margin-top: 5px;
}
.row-head-r:hover>span{
    transform: rotate(180deg);
    transition: .1s;
}
.row-head-msg{
    margin-top: 3px;
    max-width: 214px;
    overflow: hidden;
    float: left;
    margin-left: 300px;
}
.row-head-msg i{
    display: inline-block;
    vertical-align: top;
    background: url(../image/icons.png) -665px -1113px no-repeat;
    width: 14px;
    height: 14px;
    margin-top: 1px;
}
.new-row{
    width: 260px;
    height: 360px;
    margin-bottom: 50px;
}
#live-swtich{
    
}
.swtichs{
    position: relative;
    height: 24px;
}
.swtichs b{
    float: left;
    font-size: 18px;
    margin-right: 20px;
}
.swtichs li{
    position: relative;
    padding: 1px 0 2px;
    border-radius: 0;
    border-bottom: 1px solid white;
    float: left;
    margin-left: 15px;
    display: block;
    cursor: pointer;

}
.swtich-on{
    border-color: #00a1d6!important;
    color: #00a1d6
}
.live-body-wrapper{
    width: 260px;
    height: 380px;
    position: relative;
    margin-top: 20px;
    overflow: hidden;
}
.live-body{
    

}
.bodys{
    width: 780px;
    height: 380px;
    position: absolute;
    transition: .3s;
}
.bodys li{
    float: left;
    width: 260px;
    height: 100%;
}

.live-rank{
    padding-left: 25px;
    height: 40px;
    cursor: pointer;
    position: relative;
    margin: 0 0 14px 0;
}
.live-lv{
    position: absolute;
    color: #fff;
    height: 18px;
    line-height: 17px;
    top: 0;
    left: 0;
    font-size: 12px;
    min-width: 12px;
    text-align: center;
    border-radius: 4px;
    padding: 0 3px 0 3px;
    font-weight: bolder;
    background-color: #b8c0cc;
}
.top3{
    background-color: #f25d8e; 
}
.live-pic{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 12px;
    background: url(../image/xiaotianshi.jpg@.webp);
    background-size: 100%;
    float: left;
}
.live-i-r{
    width: 180px;
    float: left;
}
.live-rank:hover>div>p>.liver-name{
    color: #00a1d6;
}
.liver-online{
    float: right;
}
.eye{
    background:url(../image/live-eye.png);
    margin-right: 5px;
    margin-top: 2px;
    width: 12px;
    height: 12px;
    display: inline-block;
}
.liver-online em{
    color: #99a2aa;
}
.live-msg{
    width: 190px;
    margin-top: 4px;
    text-overflow: ellipsis;
    color: #99a2aa;
}
.mini-lunbo-wrp{
    position: relative;
    width: 260px;
    border-radius: 4px;
    overflow: hidden;
}
.mini-lunbo{
    width: 100%;
    height: 248px;
    overflow: hidden;
}
.mini-lunbo-container{
    width: 300%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    transition: .2s;
}
.mini-lunbo-container li:nth-child(1){
    background: url(../image/mini-1.jpg);
}
.mini-lunbo-container li:nth-child(2){
    background: url(../image/mini-2.jpg);
}
.mini-lunbo-container li:nth-child(3){
    background: url(../image/mini-3.jpg);
}
.mini-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 51px;
    border-radius: 0 0 4px 4px;

}
.mini-msg{
    padding: 5px 10px 2px;
    line-height: 20px;
    height: 20px;
    width: 240px;
    background: rgba(0,0,0,0.6);
}
.mini-btn{
    height: 24px;
    padding: 0 99px;
    background: rgba(0,0,0,0.74);
}
.mini-btn li{
    display: inline-block;
    width: 10px;
    height: 6px;
    background-color: #fff;
    border-radius: 5px;
    transition: .2s;
    margin: 0 2px;
    cursor: pointer;
    margin-top: 10px;
}
.mini-btn .mini-on{
    width: 30px;
    background-color: #f25d8e;
}
.mini-msg span{
    transition: .2s;
    opacity: 0;
    color: #fff;
    z-index: 5;
    cursor: pointer;
    position: absolute;
    left: 30px;
    top: 0;
}
.mini-msg .mini-msg-on {
    opacity: 1;
}
.calendar{

    width: 880px;
    height: 406px;
}
.calendar-head{
    width: 100%;
    height: 37px;
    border-bottom: 1px solid #e5e9ef;

}
.clearfix{
    width: 750px;
    height: 36px;

}
.clearfix li{
    float: left;
    width: 60px;
    text-align: center;
    height: 36px;
    line-height: 35px;
    font-size: 18px;
    border: 0;
    position: relative;
    border-radius: 4px;
}
.bangumi{
    width: 54px;
    height: 54px;
    background: url(../image/bangumi-weekday.png) no-repeat;
    cursor: pointer;
    position: absolute;
    top: -22px;
    left: 10px;
    opacity: 0;
}
.delta{
    background: url(../image/icons.png) no-repeat;
    width: 18px;
    height: 8px;
    background-position: -853px -489px;
    position: absolute;
    bottom: -8px;
    left: 50%;
    margin-left: -9px;
    opacity: 0;
}
.bangumi-on {
    background-color: #00a1d6;
    padding-left: 60px;
    color: #fff;
    font-weight: bold;
}
.bangumi-on .bangumi{
    opacity: 1;
}
.bangumi-on .delta{
    opacity: 1;
}
.clearfix li:nth-child(1) .bangumi{
    background-position: -933px -38px;
}
.clearfix li:nth-child(2) .bangumi{
    background-position: -36px -38px;
}
.clearfix li:nth-child(3) .bangumi{
    background-position: -165px -38px;
}
.clearfix li:nth-child(4) .bangumi{
    background-position: -293px -38px;
}
.clearfix li:nth-child(5) .bangumi{
    background-position: -420px -38px;
}
.clearfix li:nth-child(6) .bangumi{
    background-position: -549px -38px;
}
.clearfix li:nth-child(7) .bangumi{
    background-position: -677px -38px;
}
.clearfix li:nth-child(8) .bangumi{
    background-position: -805px -38px;
}
.calendar-body{
    margin-right: 0;
    padding: 42px 0 40px 0;
    font-size: 12px;
}
.cr-1,.cr-2{
    width: 25%;
    height: 72px;
    float: left;
}
.cr-2{
    padding-top: 36px;
}
.c-item{
    width: 180px;
    height: 100%;
}
.c-item-img{
    border-radius: 4px;
    margin-right: 12px;
    overflow: hidden;
    float: left;
    height: 72px;
}
.c-item-r{
    float: right;
    width: 96px;
    height: 72px;
    position: relative;
}
.c-item-r a:hover{
    color: #00a1d6;
}
.c-item-r p{
    position: absolute;
    bottom: 0;
}
.c-item-r p span{
    background: #b8c0cc;
    border-radius: 9px;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 0 4px;
    height: 18px;
    margin-left: 5px;
    min-width: 28px;
    color: #fff;
}
.c-item-img img:hover{
    transform: scale(1.2);

}
.c-item-img img{
    transition: .2s all;
}
.mini-lunbo-container li{
    height: 248px;
    width: 260px;
}
.cal-mini-btn{
    height: 24px;
    padding: 0 99px;
    background: rgba(0,0,0,0.74);
    width: 62px;
}
.cal-mini-btn li{
    height: 24px;
    display: inline-block;
    width: 30px;  
    height: 6px;
    background-color: #f25d8e;
    border-radius: 5px;
    transition: .2s;
    margin: 0 auto;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 16px;
}